<mat-card>
  <mat-card-header>
    <mat-card-title>Invoices</mat-card-title>
    <mat-card-subtitle>Overview</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <app-invoice-filter [parameters]="parameters$ | async" (search)="onSearch($event)" [showFilter]="showFilter$ | async" (toggleFilterVisibility)="onToggleFilterVisibility()"></app-invoice-filter>
      <app-invoice-list [data]="data$ | async" [parameters]="parameters$ | async" (search)="onSearch($event)"></app-invoice-list>
  </mat-card-content>
</mat-card>