<ng-container [formGroup]="data.controlContainer">
  <span mat-dialog-title>Add new line</span>
  <mat-dialog-content>
    <div formArrayName="lines">
      <div [formGroupName]="data.controlIndex">
        <mat-form-field>
          <input matInput placeholder="Skus" [matAutocomplete]="auto" formControlName="sku">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="skuToNameConverter" (optionSelected)="skuSelectionChanged($event)">
            <mat-option *ngFor="let sku of filteredSkus | async" [value]="sku">{{sku.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Amount" formControlName="amount" (keyup)="recalculate()" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="price" (keyup)="recalculate()" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="VAT" formControlName="vat" (keyup)="recalculate()" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Total excl VAT" formControlName="total" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Total incl VAT" formControlName="totalInc" readonly>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button (click)="onSave()">Yes</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
</ng-container>