@import "~@angular/material/theming";

.invoicelines {
    width: 100%;
}

.invoicelines > tbody > tr > td {
    border-bottom: 1px solid mat-color($mat-grey, 300);
    padding-right: 10px;
}

.amount {
    width: 5%;
    text-align: right;
}

.name {
    width: 40%;
}

.price {
    width: 10%;
    text-align: right;
}

.vat {
    width: 10%;
    text-align: right;
}

.total {
    width: 15%;
    text-align: right;
}

.totalInc {
    width: 20%;
    text-align: right;
}

.invoicetotal {
    border-bottom: 1px solid mat-color($mat-grey, 300);
    padding-right: 10px;
    text-align: right;
}

.small-icon {
    font-size: 15px;
    height: 15px;
    width: 15px;
    line-height: 15px;
}

.small-icon-button {
    line-height: 25px;
    height: 25px;
}