<ng-container [formGroup]="controlContainer.control">
  <div style="display: flex">
    <div>
      <button mat-icon-button type="button" (click)="onAddNew()" [disabled]="controlContainer.control.invalid">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div class="full-width">
      <mat-accordion>
        <div formArrayName="contacts" *ngFor="let contact of controlContainer.control.get('contacts')['controls']; let i = index;let last = last">
          <div [formGroupName]="i">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div>
                  <button mat-icon-button type="button" (click)="onRemove(i)">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
                <div class="center-content">
                  {{controlContainer.control.value.contacts[i].firstName}} {{controlContainer.control.value.contacts[i].lastName}}
                </div>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput required formControlName="firstName" placeholder="Firstname">
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput required formControlName="lastName" placeholder="Lastname">
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="email" placeholder="Email">
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="phone" placeholder="Phone">
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="info" placeholder="Info">
              </mat-form-field>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-accordion>
    </div>
  </div>
</ng-container>