<button (click)="home()" fxFlexAlign="center" class="logo-container">
  Home
</button>
<mat-card>
  <mat-card-title>Show breadcrumb here (Sign in)</mat-card-title>
  <mat-card-content>
    <div *ngIf="error | async" color="error">{{ error | async }}</div>
    <form *ngIf="!(loading | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field>
          <input matInput required placeholder="Email Address" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput required type="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="accent" [disabled]="form.invalid" type="submit">Sign In</button>
        <a mat-button (click)="signUp()">Sign Up with Email</a>
      </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-spinner *ngIf="loading | async"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>