/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/purple-green.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */

html, body, app-root {
    margin: 0px;
    height: 100%;
}

mat-card {
    margin: 10px;
}

.mat-card-header-text {
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-container > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;
  }
.header-container > .buttons {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10%;
    align-items: flex-end;
    text-align: right;
  }

mat-form-field {
    width: 19%;
}